/* html element */

/* universal selector */
* {
    text-decoration:none; 
  }
  
  body {
    background-color:rgba(17, 24, 39, 1);
    color: white;
    display:flex;
    justify-content:space-between;
    margin:0;
    font-family: sans-serif;
  }

  .cuicui {
    font-size: 17px;
    font-weight: 700;
    padding: 10px;
    padding-right: 1px;
  }
  
  .cuicui:hover {
    background: rgba(40, 40, 40, 0.7);
    color: #1da0f2;
    border-radius: 20px;
    cursor: pointer;
  }

  .align-icon {
    font-size: 17px;
    font-weight: 700;
    padding: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  
  .align-icon:hover {
    background: rgba(40, 40, 40, 0.7);
    color: white;
    border-radius: 20px;
    cursor: pointer;
  }
  
  /* responsive de la page en elle-même, pas d'une seule partie */
  
  @media screen and (min-width: 800px) {
    
  #left-container {
    width: 15%;
    display: flex;
    height: 100%;
    
    justify-content: center;
    flex-direction: column;
  }
  
  main {
    width: 45%;
  }
  
  aside {
    width: 25%;
    display: flex;
    justify-content:center;
    display:none;
  }
 
}

  @media screen and (max-width: 800px) {
    #left-container {
      width: 25%;
      display: flex;
      height: 100%;
      
      justify-content: center;
      flex-direction: column;
    }
    
    main {
      width: 75%;
    }
    
    aside {
      display:none;
    }

  }

  main > section {
    border-bottom: 1px solid grey;
  }
  
  main > article {
    border-bottom: 1px solid grey;
  }
  
  
  a {
    color:white;
  }
  
  ul {
      list-style-type: none;
  }
  
  nav > ul span {
    display:none;
  }
  
  .align-icon {
    display:flex; /* mandatoyry in order to enable flexbox */
    align-items: center; /* vertical */
    /*  flex-direction  */
  }
  
  .icon {
    width: 26px; 
    margin-right: 8px;
  }
  
  .icon-blue {
    color:rgba(37, 99, 235, 1);
  }
  

  /* responsive de la partie gauche, le reste est en %, plus on réduit plus ça s'efface */
 
@media screen and (min-width: 800px){
  

  .button-tweet {
    margin: 20px;
    margin-top: 1px;
    background-color: dodgerblue;
    color: white;
    border-color: dodgerblue;
    padding: 13px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 2rem;
    border-right: 15px;
    border-left: 15px;
  }

  .button-tweet:hover {
    cursor: pointer;
    border-radius: 2rem;
    border-right: 15px;
    border-left: 15px;
    padding: 13px;
 }

  .button-tweet-responsive {
  display: none;
 }
}


@media screen and (max-width: 800px) {
  .button-tweet {
    display: none;
  }

  .bas_gauche  {
    display: none;
  }
  
  .button-tweet-responsive {
    margin: 20px;
 
    background-color: dodgerblue;
    color: white;
    border-color: dodgerblue;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 2rem;
    height: 26px;
    width: 26px;
  }

}


/* fin de la partie responsive de la gauche */

.bas_gauche{
  position: relative;
  margin-top: 100%;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-weight: 80;
  border-radius: 169px;
  height: 0;
}

.bas_gauche2 {
  display: none;
}

.bas_gauche:hover{
  background-color: rgba(40, 40, 40, 0.7);
}

.bas_gauche_texte {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bas_gauche_pseudo{
  font-size: 15px;
  font-weight: bold;
  color: #D9D9D9;
  font-family: inherit;
}

.bas_gauche_tag{
  font-size: 15px;
  font-weight: 400;
  color: #6E767D;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.bas_gauche_logo{
  width: 48px;
  height: 48px;
  border-radius: 50px;
  margin-right: 10px;
  padding:5px;
}

/* Centre de la page, main area */


/* responsive home */

@media screen and (min-width: 800px) {

  #home {
  position:fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  width: 45%;
  background-color: rgba(17, 24, 39, 1);
 }

 #home h1 {
  margin-left:20px;
 }
 
 #home svg {
  margin-right:20px;
 }
}

@media screen and (max-width: 800px) {
  #home {
    position:fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
  
    background-color: rgba(17, 24, 39, 1);
    width: 75%;
  }

  #home h1 {
    margin-left:20px;
  }
  
  #home svg {
    margin-right:20px;
  }
}




.IconeHaut{
  color: rgba(37, 99, 235, 1);
}

.TextAreaTweet{
  border: none;
  width:80%;
  background-color: rgba(17, 24, 39, 1) ;
  text-decoration-color: snow;
  padding-bottom: 30px;
}

#textarea {
  margin-top: 4.25rem;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

.BoutonTweet {
 
  margin: 20px;
  margin-top: 50px;
  margin-left: 500px;
  background-color: dodgerblue;
  color: white;
  border-color: dodgerblue;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 2rem;
  border-right: 15px;
  border-left: 15px;
  width: 150px;
  height: 45px;
}    



.BoutonTweet:hover {
  cursor: pointer;
  border-radius: 2rem;
  border-right: 15px;
  border-left: 15px;
  padding: 13px;
}

#IconesSousTweet{
  
  color: #1da1f2;
  width: 30px;

}

#IconesSousTweet:hover{
  color: #1da0f2c2;
  cursor: pointer;
}

.BasTextZoneArea {
  display: flex;
  flex-wrap: nowrap;
  padding-left: 3rem;

}

/*TWEET*/

.border-tweet {
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

.PPTweet{
  width: 49px;
  height: 49px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 10px;

}

.bas_gauche_pseudo2{
  font-size: 16px;
  color: #D9D9D9;
  font-family: inherit;
  padding-top: 16px;
}

.bas_gauche_tag2{
  font-size: 15px;
  font-weight: 400;
  color: #6E767D;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.ProfileTweet{
  display: flex;
  flex-wrap: no-wrap;
  
}

#TextTweet{
  margin-left: 4rem;
}

.photoNadal{
  width: 40%;
  margin-left: 60px;
  border-radius: 3rem;
  margin-bottom: 20px;
}





.IconesSousTweetN2{
  width: 250px;
  margin-left: 2rem;
  color: #6E767D;
  display: flex;
  margin-left: 20px;
  
  flex-wrap: nowrap;
  
}

#Comments{
  color: #6E767D; 
}

#Comments:hover{
 color: #1da1f2;

}
  
#Retweet{
  color: #6E767D;
}

#Retweet:hover{
  color: chartreuse;
}

#Like{  
  color: #6E767D;
}

#Like:hover{
 color: mediumvioletred;
}

#Share{
  color: #6E767D;
}

#Share:hover{
  color: #1da1f2;
}

  #Nombre{
    padding-right: 15%;
  }

  
  /* rule */
  @media (min-width:900px) {
    aside {
      display:block;
    }
    
    nav > ul span {
      display:block;
    }
  }


  /* droite */

  .agencement_droite {
    position: fixed;
    width: 350px;
  }
  
 
  .barre_de_recherche {
    background-color: #141d26;
    border: 1px Solid #141d26;
    padding: 5px 5px 5px 5px;
    border-radius: 100px;
    height: 0px;
    width: 10px;
    display: inline-table;
    vertical-align: top;
    text-decoration: border;
    margin-bottom: 20px;
  }
  .Recherche-Barre {
    margin-bottom: Auto;
    margin-top: Auto;
    background-color: none;
  }
  .Recherche-Input {
    background-color: #243447;
    border: 1px Solid #243447;
    padding: 20px 20px 20px 20px;
    border-radius: 100px;
    height: 30px;
    width: 340px;
  }
  
  .Recherche-Icone:hover {
    color: White;
  }
  .Recherche-Input:hover {
    border-color: blue;
  }
  
  .tendances_pour_vous {
    border-radius: 15px;
    background: #243447;
    margin-bottom: 15px;
    margin-top: 25px;
  }
  
  .tendances_pour_vous_block1 {
    border-bottom: 1px solid #e6ecf0;
    padding: 10px 15px;
  }
  
  .tendances_pour_vous_block {
    border-bottom: 1px solid #e6ecf0;
    padding: 10px 15px;
  }
  
  .tendances_pour_vous_block:hover {
    background: rgba(0, 0, 0, 0.03);
    cursor: pointer;
  }
  
  .tendances_pour_vous_block:last-child {
    border-bottom: none;
  }
  
  .tendances_pour_vous_titre {
    font-size: 19px;
    font-weight: bold;
    color: #14171a;
  }
  
  .tendances_pour_vous_meta {
    font-size: 13px;
    font-weight: 300;
    color: #657786;
  }
  
  .tendances_pour_vous_titre {
    font-size: 15px;
    color: hsl(207, 21%, 92%);
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 2px;
  }
  
  .suggestions_nom:hover {
    background: none;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: white;
  }
  
  .suggestions_nom {
    color: white;
  }
  
  .suggestions {
    background: #243447;
    border-radius: 15px;
  }
  
  .suggestions_block1 {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e6ecf0;
  }
  
  .suggestions_block {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e6ecf0;
  }
  
  .suggestions_block:hover {
    background: rgba(0, 0, 0, 0.03);
    cursor: pointer;
  }
  
  .suggestions_header {
    font-size: 19px;
    font-weight: bold;
    color: #e6ecf0;
  }
  
  .suggestions_block:last-child {
    border-bottom: none;
  }
  
  .suggestions_logo {
    width: 49px;
    height: 49px;
    border-radius: 50px;
    margin-right: 10px;
  }
  
  .suggestions_contenu {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .suggestions_nom {
    font-size: 15px;
    font-weight: 700;
  }
  
  .suggestions_titre {
    color: #657786;
    font-size: 15px;
  }
  
  .suggestions_suivre {
    border: 1px solid #1da0f2;
    color: #1da0f2;
    font-size: 15px;
    font-weight: 700;
    border-radius: 15px;
    padding: 5px;
    min-width: 67px;
    text-align: center;
  }
  
  .suggestions_suivre:hover {
    background: rgba(29, 161, 242, 0.1);
    cursor: pointer;
  }
  


  .right_footer1 {
    color: grey;
  }
  .right_footer1:hover {
    background: none;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: grey;
  }
  .right_footer2 {
    color: grey;
  }
  .right_footer2:hover {
    background: none;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: grey;
  }
  .right_footer3 {
    color: grey;
  }
  .right_footer3:hover {
    background: none;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: grey;
  }
  .right_footer4 {
    color: grey;
  }
  .right_footer4:hover {
    background: none;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: grey;
  }
  .right_footer5 {
    color: grey;
  }
  .right_footer5:hover {
    background: none;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: grey;
  }
  .Twitter_inc {
    color: grey;
  }
  .Bas_droit {
    display: flex;
    flex-wrap: nowrap;
  }